body
{
    padding:0;
    margin:0;
    font-family: Calibri,sans-serif;
}

.fixed-navbar
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:15px;
    background-color:#22242a;
    z-index:1;
    box-shadow:0px 10px 10px rgba(0,0,0,0.5);
}

.fixed-navbar > h5
{
    font-size:18px;
    margin:0;
    padding:10px;
    color: white;
    text-transform: uppercase;

}

.fixed-sidebar
{
    display: block;
    top:11%;
    left:0;
    width:21.5%;
    background:#123a44;
    height:89%;
    box-shadow:10px 10px 10px rgba(0,0,0,0.1);
}


.side-group
{
    display: flex;
    position: absolute;
    flex-flow: row;
    justify-content: center;
    padding:30px;
    cursor: pointer;
}

.side-group > img
{
    width:150px;
    border-radius: 100px;
}

.group-menu
{
    padding-left:30px;
    padding-right:30px;
    display:flex;
    flex-flow: column;
}

.group-menu > a{
    padding:15px;
    text-decoration: none;
    color:white;
    border-radius:5px;
    transition: 0.5s;
    transition-property:b ;
}

.group-menu >a:hover
{
    background: #19B3D3;
}

.content
{
    padding: 15px;
    padding-left:26%;
   margin-top: 60px;


}
.main-content {
    padding: 10px;
    display: block;
}
.status
{
    padding: 20px;
    background-color: #123a44;
    color: white;
    margin-bottom: 15px;
    border-radius: 2px;
}

.breadcrumb
{
    border-radius:5px;
    padding: 30px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.1); 
}

.breadcrumb > a{
    color:rgb(0,150,255);
    text-decoration: none;
}



/* Jasa Penitipan  */
    
div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  div.gallery:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  
  }
  div.desc > a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
  }

/*css halaman login*/
h1{
    text-align: center;
    /*ketebalan font*/
    font-weight: 300;
}

.tulisan_login{
    text-align: center;
    /*membuat semua huruf menjadi kapital*/
    text-transform: uppercase;
}

.kotak_login{
    width: 350px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 30px 20px;
}

label{
    font-size: 11pt;
}

.form_login{
    /*membuat lebar form penuh*/
    box-sizing : border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login{
    background: #19d3da;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.link{
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
}
/* isi content admin */

/*tebel costumer*/
table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
}

table th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
}

table th:first-child{
    border-left:none;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

/* CSS BAGIAN PROFIL COSTUMER  dan Admin*/



.column {
    float: left;
    width: 40%;
    margin:20px;
    padding: 0 10px;
  }

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
  label {
    margin-bottom: 10px;
    display: block;
  }

  textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .btn {
    background-color:  #123a44;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #22242a;
    color : white; 
  }

/* Foto Costumer dan Admin */
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  /*notifikasi*/
.badge-notif {
    position:relative;
}

.badge-notif[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    font-size:.7em;
    background:#e53935;
    color:white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius: 50%;
}

/*edit from batuan*/
.input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.input[type=submit] {
    background-color: #131313;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.input[type=submit]:hover {
    background-color: #6c6c6c;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height:300px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.boxchat {
    border-radius: 5px;
    background-color: #131313;
    padding: 20px;
    
}

/*membuat slider*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}